In [1]:
print("Python is fun!"); print("Really!")

Python is fun!
Really!

In [2]:
bin(5) , bin(3)

('0b101', '0b11')

In [3]:
a = 5 
a &= 3
a

1

In [4]:
a = 5 
a |= 3
a

7

In [6]:
a = 5
a ^= 3
a

6

In [10]:
a = 6 
a >>= 2
a

1

In [14]:
a = 6 
a <<= 2
a

24

In [17]:
# initializin x while printing 
print(x := 3)

3

In [16]:
x

3

In [21]:
# identity opeartor 
a = 12 
b = 12 
a is b

True

In [23]:
a = 257
b = 257 
a is b

False

In [24]:
a is not b

True

In [25]:
# membership operator 
x = "raunak is bad boy"
"is" in x

True

In [26]:
x = "raunak is bad boy"
"is" not in x

False

In [27]:
# bitwise operator & | ^ << >>
a = 5
a & 3 , a | 3 , a^3 , a<<2 , a>>2

(1, 7, 6, 20, 1)

In [28]:
# operator precedence

In [32]:
"""
Operator	                                    Description	T
()	                                            Parentheses	
**	                                            Exponentiation	
+x  -x  ~x	                                    Unary plus, unary minus, and bitwise NOT	
*  /  //  %	                                    Multiplication, division, floor division, and modulus	
+  -	                                        Addition and subtraction	
<<  >>	                                        Bitwise left and right shifts	
&	                                            Bitwise AND	
^	                                            Bitwise XOR	
|	                                            Bitwise OR	
==  !=  >  >=  <  <=  is  is not  in  not in 	Comparisons, identity, and membership operators	
not	                                            Logical NOT	
and	                                            AND	
or	                                            OR
"""

'\nOperator\t                                    Description\tT\n()\t                                            Parentheses\t\n**\t                                            Exponentiation\t\n+x  -x  ~x\t                                    Unary plus, unary minus, and bitwise NOT\t\n*  /  //  %\t                                    Multiplication, division, floor division, and modulus\t\n+  -\t                                        Addition and subtraction\t\n<<  >>\t                                        Bitwise left and right shifts\t\n&\t                                            Bitwise AND\t\n^\t                                            Bitwise XOR\t\n|\t                                            Bitwise OR\t\n==  !=  >  >=  <  <=  is  is not  in  not in \tComparisons, identity, and membership operators\t\nnot\t                                            Logical NOT\t\nand\t                                            AND\t\nor\t                                            OR\n'

In [ ]:
a = 5
+a , -a

(5, -5)

In [68]:
# list function 
# want to append at likest  position 
l = [1 , 3, 5 ,6]
l.insert(1 , 12)
l

[1, 12, 3, 5, 6]

In [69]:
# extending with any iterable 
l = [ 1, 2, 4, 5 , 6]
t = {1 , 2,3,4,5}
l.extend(t)
l

[1, 2, 4, 5, 6, 1, 2, 3, 4, 5]

In [70]:
# extending with dict 
d = dict(a=2 , b=3)
l.extend(d.items())
l.extend(d.values())
l.extend(d.keys())
l

[1, 2, 4, 5, 6, 1, 2, 3, 4, 5, ('a', 2), ('b', 3), 2, 3, 'a', 'b']

In [71]:
# remove specified item 
l.remove(("a",2))
l

[1, 2, 4, 5, 6, 1, 2, 3, 4, 5, ('b', 3), 2, 3, 'a', 'b']

In [72]:
# remove function only removes the first occurance

In [73]:
# pop used to remove at the specified index else it will remove from back 
# del can also be used to remove at the specified indices 
del l[-1]
l.pop()
l

[1, 2, 4, 5, 6, 1, 2, 3, 4, 5, ('b', 3), 2, 3]

In [74]:
l.clear()
l

[]

In [75]:
# also used to delete entire list 
del l 
l

NameError: name 'l' is not defined

In [88]:
l = [1 , 2, 4,5,7,6.0]
[print(i) for i in l ]

1
2
4
5
7
6.0

[None, None, None, None, None, None]

In [90]:
newl = [i for i in l if type(i)==int]
newl

[1, 2, 4, 5, 7]

In [94]:
l.sort()
l
l.sort(reverse=True)
l

[7, 6.0, 5, 4, 2, 1]

In [96]:
sorted(l , reverse= True)

[7, 6.0, 5, 4, 2, 1]

In [98]:
a = tuple(l)
b = sorted(a)
type(a) , type(b)

(tuple, list)

In [105]:
a = dict(a=5 , c=4 , b=3 , e=2 , d=1)
dict(sorted(a.items() , key = lambda item : item[1])) , sorted(a.items() , key = lambda item : item[1])

({'d': 1, 'e': 2, 'b': 3, 'c': 4, 'a': 5},
 [('d', 1), ('e', 2), ('b', 3), ('c', 4), ('a', 5)])

In [104]:
# conclusion sorted function always sort the iterables in form of list  and than we need to convert that into it's intresic itreble

In [107]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)
# this function subtracting the values by 50 and than on the basis of resulting values it will sorting the functions

[50, 65, 23, 82, 100]

In [109]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)
# as python is case sensitive it sort first on basis of capital than looked for lower

['Kiwi', 'Orange', 'banana', 'cherry']

In [123]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [126]:
thislist.reverse()
# it will not return anything rather it create changes in original list

In [127]:
thislist

['banana', 'cherry', 'Kiwi', 'Orange']

In [131]:
a = [1 ,2 ,3,4]
b = a 
id(a) , id(b)

(3055630984128, 3055630984128)

In [132]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [133]:
id(thislist) , id(mylist)

(3055630978560, 3055631056256)

In [134]:
# list function is also used to create copy of list as we see above 
# [:] is also used to create copy of list

In [135]:
# joining two list we can use append function with loop or extend function or we can even go with + operator 
[1,2,3] + ["W"]

[1, 2, 3, 'W']

In [142]:
# Tuple
t = (1 , 2 , 3, 4, 5)

In [149]:
list([1, 2,3,4]),dict(a =1 , b= 2 ),frozenset({1,2,3,4}) ,tuple((1,2,3))

([1, 2, 3, 4], {'a': 1, 'b': 2}, frozenset({1, 2, 3, 4}), (1, 2, 3))

In [151]:
# we need to only one argument in other datatypes except dictionary but in dictionary we can pass multiple arguments

In [164]:
# updation of tuple is possible but first we need to change in list than perform changes than again 
# convert the list to the tuple

In [165]:
del t

In [168]:
t 
# after delettion tuple does not exist

NameError: name 't' is not defined

In [171]:
tup = ( 1, 2,3,4)
(a, b,c,d )= tup
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [173]:
tup = ( 1, 2,3,4)
(a, b,*c )= tup
print(a)
print(b)
print(c)

1
2
[3, 4]

In [174]:
tup = ( 1, 2,3,4)
(a, *b,c )= tup
print(a)
print(b)
print(c)

1
[2, 3]
4

In [177]:
tup = (1,2,3,4,)
t = ("A" , "b" , "c")
tup + t

(1, 2, 3, 4, 'A', 'b', 'c')

In [178]:
tup * 2

(1, 2, 3, 4, 1, 2, 3, 4)

In [179]:
# tuple only have to built in methods count() , index()
tup.count(1)

1

In [180]:
tup.index(1)

0

In [181]:
# tuple are ordered but unchangeble and also allow duplicates 
# sets are unordered , unchangeble as well not allowed the duplicates

In [182]:
#as for appending anything in list append() function is used buit here in set add() function is used 
se = {1,2,3,3}

In [184]:
se.add(4)

In [185]:
se

{1, 2, 3, 4}

In [188]:
se.update([1,2,3])

In [197]:
se.update({"A":5}.items())

In [198]:
se

{('A', 5), 1, 2, 3, 4, 'A'}

In [199]:
se.remove(1)

In [202]:
se.remove(("A",5))

In [203]:
se

{2, 3, 4, 'A'}

In [ ]:
se = {[1,2]}
# a set does not contain a list

TypeError: unhashable type: 'list'

In [207]:
tup = ([1,2],2)
# but tuple can

In [209]:
# if we want to remove an item and that does not exist in set it will raise an error but if we use discard it will not through an error 
se

{2, 3, 4, 'A'}

In [212]:
se.discard(13)
# see it will not through any error

In [213]:
# pop method in set will remove any item from set 
se

{2, 3, 4, 'A'}

In [214]:
se.pop()

2

In [217]:
se

{3, 4, 'A'}

In [218]:
# set slices are not accesible as they are unordered data type 
se[0]

TypeError: 'set' object is not subscriptable

In [220]:
# clear empties the set and del deletes the set 
se.clear()
se

set()

In [221]:
del se

In [ ]:
# this set is same as the set we studied in maths it has many join operations 
# union(), | or  update() 
# intersection(),& or  intesection_update()
# diffrence() , - diffrence_update() 
# symmetric_diffrence() , ^ or  symmetric_diffrence_update()
se = {1,2,3,4,5}
s = {4,5,6,7}
s.union(se)

{1, 2, 3, 4, 5, 6, 7}

In [225]:
# s and se are still unchanged but union joins the two set  
s , se , s|se
# pipe can also be used for union operation

({4, 5, 6, 7}, {1, 2, 3, 4, 5}, {1, 2, 3, 4, 5, 6, 7})

In [226]:
s.update(se)

In [228]:
# using update function union is done and s is updated to the s + se
s

{1, 2, 3, 4, 5, 6, 7}

In [229]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'c', 'Elena', 'apple', 'bananas', 'b', 'cherry', 'a', 'John'}

In [237]:
s.intersection(se) , se ,s , s.intersection_update(se)

({1, 2, 3, 4, 5}, {1, 2, 3, 4, 5}, {1, 2, 3, 4, 5}, None)

In [232]:
s & se

{1, 2, 3, 4, 5}

In [234]:
s - se , s.difference(se)

({6, 7}, {6, 7})

In [235]:
s.symmetric_difference(se)

{6, 7}

In [ ]:
a = s.copy()

In [241]:
a

{1, 2, 3, 4, 5}

In [243]:
a.update({3})
a , s

({1, 2, 3, 4, 5}, {1, 2, 3, 4, 5})

In [244]:
# like in tuple we could not append any element after tuple initilization same goes for the 
s.add(5)

In [248]:
{1.1 ,(1,2)}

{(1, 2), 1.1}

In [251]:
s.update([11,12])
s

{1, 2, 3, 4, 5, 11, 12}

In [257]:
# frozenset is immutable version of set 
a = frozenset({ 1 , 2,3})

In [ ]:
#Method	              Shortcut	                    Description	
#copy()	 	                            Returns a shallow copy	
#difference()	         -	            Returns a new frozenset with the difference	
#intersection()	         &	            Returns a new frozenset with the intersection	
#isdisjoint()	 	                    Returns whether two frozensets have an intersection	
#issubset()	             <= or <	        Returns True if this frozenset is a (proper) subset of another	
#issuperset()	         >= or >         Returns True if this frozenset is a (proper) superset of another	
#symmetric_difference()  ^	            Returns a new frozenset with the symmetric differences	
#union()	             |	            Returns a new frozenset containing the union

In [259]:
# Dictionary
d = { "z":1 , "b":2}

In [262]:
d["z"] , d.get("b")

(1, 2)

In [264]:
d.keys() , d.values() , d.items()

(dict_keys(['z', 'b']), dict_values([1, 2]), dict_items([('z', 1), ('b', 2)]))

In [276]:
d.update({"z":12}) , d.update({"c":11})
d

{'b': 2, 'c': 11, 'z': 12}

In [277]:
d["z"] = 11 ; d["a"] = 12
d

{'b': 2, 'c': 11, 'z': 11, 'a': 12}

In [278]:
# update() , pop() , popitem() removes last element
d.pop("a")
d

{'b': 2, 'c': 11, 'z': 11}

In [279]:
del d["z"]
d

{'b': 2, 'c': 11}

In [281]:
d.clear()
d

{}

In [282]:
del d

In [284]:
# copy() and dict() function can be used to make dictionaries copy 
# fromkeys() , setdefault()

In [285]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [289]:
thisdict.setdefault("key5" , 2)

2

In [290]:
thisdict

{'key1': 0, 'key2': 0, 'key3': 0, 'key5': 2}

In [291]:
# The LEGB Rule
# Python follows the LEGB rule when looking up variable names, and searches for them in this order:

# Local - Inside the current function
# Enclosing - Inside enclosing functions (from inner to outer)
# Global - At the top level of the module
# Built-in - In Python's built-in namespace

In [292]:
x = lambda a : a + 10
print(x(5))

15