# Created this file "sample.ipynb" for experimenting with code snippets

In [2]:
prices = [7,1,5,3,6,4]

In [3]:
i = 1

In [4]:
prices[i+1:]

[5, 3, 6, 4]

In [6]:
a = b = 2
print(a,b)

2 2

In [ ]:
prices[:1]

[4, 6, 3, 5, 1, 7]

In [35]:
a = "A man, a plan, a canal: Panama"
a[::-1]

'amanaP :lanac a ,nalp a ,nam A'

In [36]:
b = ""
for i in a :
    if i.isalnum() == True :
        b = b.join(i)

In [37]:
b

'a'

In [28]:
a = "aa"
a.isalnum()

True

In [38]:
#how to remove space and special characters from a string
import re
import string

s = "Hello, World! 123 @#$"
# Keep only alphanumeric characters
cleaned_string = re.sub(r'[^a-zA-Z0-9]', '', s) 
print(cleaned_string)
# Output: "HelloWorld123"

HelloWorld123

In [44]:
s = "A man, a plan, a canal: Panama"
b = ""
for text in a :
    if text.isalnum() == 1 :
        b +=b.join(text)

In [40]:
b

'AmanaplanacanalPanama'

In [47]:
text = "Hello @ World 123!"
clean_text = "".join(char for char in text if char.isalnum())
clean_text

'HelloWorld123'

In [42]:
def isPalindrome(s: str) -> bool:
        s = "".join(text for text in s if s.isalnum() == True)
        if s[::-1] == s :
            return True
        else :
            return False

In [43]:
print(isPalindrome("race a car"))

True

In [45]:
t = "".join(text for text in s if s.isalnum() == True)

In [46]:
t

''

In [6]:
t = [[-2, 0, 3, -5, 2, -1]]
sum(t[0][::1])

-3

In [52]:
out = []
out += ["null"]
out

['null']

In [3]:
from typing import List
class NumArray:

    def __init__(self, nums: List[int]):
        if not nums:
            self.prefix = []
            return

        self.prefix = [0] * len(nums)
        self.prefix[0] = nums[0]

        for i in range(1, len(nums)):
            self.prefix[i] = self.prefix[i - 1] + nums[i]

    def sumRange(self, left: int, right: int) -> int:
        if left == 0:
            return self.prefix[right]
        return self.prefix[right] - self.prefix[left - 1]

In [56]:
obj = NumArray([-2, 0, 3, -5, 2, -1])
obj.sumRange(0, 2),obj.sumRange(2, 5),obj.sumRange(0, 5)

(1, -1, -3)

In [16]:
commands = ["NumArray", "sumRange", "sumRange", "sumRange"]
arguments = [[[-2, 0, 3, -5, 2, -1]], [0, 2], [2, 5], [0, 5]]

obj = None
output = []

for cmd, args in zip(commands, arguments):
    if cmd == "NumArray":
        obj = NumArray(*args)
        output.append(None)
        print(cmd , args)
    else:
        result = getattr(obj, cmd)(*args)
        output.append(result)
        print(cmd , args)

NumArray [[-2, 0, 3, -5, 2, -1]]
sumRange [0, 2]
sumRange [2, 5]
sumRange [0, 5]

In [5]:
output

[None, 1, -1, -3]

In [11]:
def sam():
    for cmd , args in zip(commands , arguments):
        yield print(cmd , args)

In [20]:
a = [[-1,2,3]]
def sam(a):
    print(a)
sam(*a)

[-1, 2, 3]

In [17]:
class  sam :
    def __init__(self, nums):
        print(nums)

In [19]:
sam(*a)

[-1, 2, 3]

manadatory to attempt these questions

ðŸ”œ What I Recommend Next (Very Relevant)

To fix OOP problem-solving permanently, do these next:

Range Sum Query â€“ Immutable âœ… (done)

Design HashSet

Design HashMap

LRU Cache

In [14]:
def lengthOfLongestSubstring( s: str) -> int:
        length = 0 
        temp = ""
        for i in s :
            if i not in temp :
                temp += "".join(i)
                length += 1
            else:
                temp = temp.split(i)[1]
                length -= len(temp)
                temp += "".join(i)
        return length

In [15]:
lengthOfLongestSubstring("pwwkew")

2

In [24]:
temp = "ppwwkew"

In [25]:
temp[1+1:]

'wwkew'

In [26]:
nums = [1,2,3]
nums[:1],nums[1:]

([1], [2, 3])

In [1]:
def sort_by_values(**kwargs):
    return dict(sorted(kwargs.items(), key=lambda item: item[1]))

data = {
    "apple": 50,
    "banana": 20,
    "cherry": 30
}

result = sort_by_values(**data)
print(result)

{'banana': 20, 'cherry': 30, 'apple': 50}